:root{
    --mainclr:#986c91;
    --secondclr:#d0efe1;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    height: 100vh;
    display: flex;
    justify-content: center ;
    align-items: center;
    background-image: linear-gradient(145deg, var(--secondclr),var(--mainclr));

  }

  .form{
    width: 45%;
    height: 73%;
    position: relative;
    background-color: var(--secondclr);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .form::before{
    position: absolute;
    top: 0%;
    left: -2.8rem;
    content: "";
    width: 0;
    height: 0;
    border: 1.4rem solid transparent;
    border-right: 1.4rem solid var(--secondclr);
  }

  .form h1{
    color: #75346a;
    font: 500 1.8rem;
    font-style: italic;
    text-align: center;
    padding: 0.2rem;
  }

.form form{
    padding: 0.2rem;
}

.form input, .form textarea{
    width: 100%;
    padding: 1rem;
    border: .08 rem rgb(146, 27, 14);
    border-radius: 2rem;
    background-color: unset;
    color: rgb(43, 9, 48);
    font-size: 1rem;
    font-style: oblique;
}

.form input:not(:first-child), .form button{
    margin-top: .8rem;
}

.form textarea{
    height: 6rem;
    resize: none;
}

.form button{
    background-color: var(--mainclr);
    padding: 1rem 2rem;
    color: #fff;
    border-radius: 2rem;
    border: none;
    
    
}
.center-button {
  text-align: center;
}


